<section id="get-in-touch">
    <div class="row top-row">
        <div class="columns xsmall-12 medium-5 column-left">
            <div class="mobile-contact-form-header">
                <h2 class="beta">Talk to us.</h2>
                <button class="icon-close" {{action "close_get_in_touch"}}>Close</button>
            </div>
            <div class="address br-greenLightest">
                <h3 class="gamma">Filament Creative Inc.</h3>
                <h3 class="gamma sm">67 Mowat Ave. Suite 433</h3>
                <h3 class="gamma sm">Toronto ON Canada <div class="only-mobile-inline">M6K 3E3</div></h3>
                <h3 class="gamma sm only-desktop">M6K 3E3</h3>
                <a href="https://www.google.ca/maps/place/67+Mowat+Ave+%23433,+Toronto+Carpet+Factory,+Toronto,+ON+M6K+3E3/@43.638142,-79.4274246,17z/data=!3m1!4b1!4m2!3m1!1s0x882b35075781989f:0xfafef791cf9b2d85" class="button directions-tag" target="_blank">Get Directions</a>
            </div>
            <div class="tel br-greenLightest">
                <h3 class="gamma sm"><a href="tel:+14165880550">+1 416 588 0550</a></h3>
            </div>
            <div class="email">
                <h3 class="gamma sm"><a href="mailto:heythere@filamentlab.com">heythere@filamentlab.com</a></h3>
            </div>
            <div class="social">
                <p>social icons go here</p>
            </div>
        </div>
        <div class="columns xsmall-12 medium-7 column-right">
            <div class="contact-form-header">
                <h2 class="beta">Got a Project?</h2>
                <button class="icon-close" {{action "close_get_in_touch"}}>Close</button>
            </div>

            <form action="http://campaigns.filamentlab.com/t/y/s/zutjtt/" method="post" id="subForm">
                <div class="row">
                    <div class="columns xsmall-12 medium-6">
                        <p>
                            {{!-- {{#if fieldInFocus}} --}}
                            {{!-- <label class="field-in-focus" for="fieldName">Name</label> --}}
                            {{!-- {{else}} --}}
                            <label for="fieldName">Name</label>
                            {{!-- {{/if}} --}}
                            <br />
                            <input {{action "input_field_in_focus"}} id="fieldName" name="cm-name" type="text" />
                        </p>
                    </div>

                    <div class="columns xsmall-12 medium-6">
                        <p>
                            <label for="fieldasxr">Phone number</label><br />
                            <input {{action "input_field_in_focus"}} id="fieldasxr" name="cm-f-asxr" type="text" />
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="columns xsmall-12 medium-6">
                        <p>
                            <label for="fieldEmail">Email Address</label><br />
                            <input {{action "input_field_in_focus"}} id="fieldEmail" name="cm-zutjtt-zutjtt" type="email" required />
                        </p>
                    </div>

                    <div class="columns xsmall-12 medium-6">
                        <p>
                            <label for="fieldasxj">Budget (USD)</label><br />
                            <select {{action "select_field_in_focus"}} id="fieldasxj" name="cm-fo-asxj">
                                {{!-- <option class="only-mobile" value="" disabled selected>Choose an option...</option> --}}
                                <option value=""></option>
                                <option value="983074">0 - 10,000</option>
                                <option value="983075">10,001 - 50,000</option>
                                <option value="983076">50,001 - 200,000</option>
                                <option value="983077">200,000 +</option>
                            </select>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="columns xsmall-12 medium-6">
                        <p>
                            <label for="fieldasxt">Project Type</label><br />
                            <select {{action "select_field_in_focus"}} id="fieldasxt" name="cm-fo-asxt">
                                {{!-- <option value="" disabled selected>Choose an option...</option> --}}
                                <option value=""></option>
                                <option value="983078">Website</option>
                                <option value="983079">Application</option>
                            </select>
                        </p>
                    </div>

                    <div class="columns xsmall-12 medium-6">
                        <p>
                            <label for="fieldasxi">Deadline</label><br />
                            <select {{action "select_field_in_focus"}} id="fieldasxi" name="cm-fo-asxi">
                                {{!-- <option value="" disabled selected>Choose an option...</option> --}}
                                <option value=""></option>
                                <option value="983080">Within 3 months</option>
                                <option value="983081">Within 6 months</option>
                                <option value="983082">Sometime this year</option>
                            </select>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="columns xsmall-12">
                        <p>
                            <label for="fieldasxd">Comments</label><br />
                            <textarea {{action "textarea_in_focus"}} id="fieldasxd" name="cm-f-asxd" rows="10"></textarea>
                        </p>
                    </div>
                </div>

                <div class="row footer">
                    <div class="columns xsmall-12">
                        <p>
                            <button  class="bg-forestDark" type="submit">Let's Go</button>
                        </p>                    
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section>

<header class="global">
    <div class="row">
        <div class="columns xsmall-12 main-nav">
            <div class="filament-logo">
                {{#link-to "index" class="icon-filament-logo"}}<span class="hidden">Filament Creative Inc.</span>{{/link-to}}
            </div>

            <nav class="header-nav">
                <ul>
                    {{#if contactOpen}}
                        <li><button {{action "show_get_in_touch"}}>Get In Touch</button></li>
                        <li>{{#link-to "work"}}Work{{/link-to}}</li>
                        <li>{{#link-to "about"}}About{{/link-to}}</li>
                        <li>{{#link-to "blogs"}}Blog{{/link-to}}</li>
                        <li>{{#link-to "style-guide"}}Style Guide{{/link-to}}</li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</header>

{{liquid-outlet}}