<div class="container">

<ul id="image-array">
    <li style="background: url(http://www.fillmurray.com/1000/500) center center no-repeat; background-size: cover" class="post-1"></li>
    <li style="background: url(http://www.fillmurray.com/900/500) center center no-repeat; background-size: cover" class="post-2"></li>
    <li style="background: url(http://www.fillmurray.com/1000/600) center center no-repeat; background-size: cover" class="post-3"></li>
    <li style="background: url(http://www.fillmurray.com/1100/500) center center no-repeat; background-size: cover" class="post-4"></li>
    <li style="background: url(http://www.fillmurray.com/1200/500) center center no-repeat; background-size: cover" class="post-5"></li>
    <li style="background: url(http://www.fillmurray.com/1000/400) center center no-repeat; background-size: cover" class="post-6"></li>
</ul>


<section class="blog-landing container">
    <div class="row">
        <div class="columns xsmall-12">
            <ul class="blog-list">
                <li class="post-1" {{action "changeImage" on="mouseEnter"}}>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    {{#link-to 'blog-first'}}
                        <div data-nav="transition">
                            <h2 class="for-blog-transition">Thinking About Thinking</h2>
                            <p class="intro-sm">Memory Techniques, Mental Organization, &amp; Better Project Management</p>

                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/trev-test.jpg" alt="">
                                </div>

                                <h5>By Trevor Davson</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>

                <li class="post-2" {{action "changeImage" on="mouseEnter"}}>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    {{#link-to 'blog-second'}}
                        <div data-nav-2="transition">
                            <h2>UX Critique: StreetPass Mii Plaza</h2>
                            <p class="intro-sm">I get a thrill of excitement when I spot someone playing their 3DS in public, instantly followed by a sense of tedious obligation-induced dread. Here’s why.</p>

                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/blog-avatar-lindz.jpg" alt="">
                                </div>

                                <h5>By Lindsay Trevors</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>

                <li class="post-3" {{action "changeImage" on="mouseEnter"}}>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    {{#link-to 'blog-first'}}
                        <div data-nav="transition">
                            <h2 class="for-blog-transition">Thinking About Thinking</h2>
                            <p class="intro-sm">Memory Techniques, Mental Organization, &amp; Better Project Management</p>

                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/trev-test.jpg" alt="">
                                </div>

                                <h5>By Trevor Davson</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>

                <li class="post-4" {{action "changeImage" on="mouseEnter"}}>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    {{#link-to 'blog-second'}}
                        <div data-nav-2="transition">
                            <h2>UX Critique: StreetPass Mii Plaza</h2>
                            <p class="intro-sm">I get a thrill of excitement when I spot someone playing their 3DS in public, instantly followed by a sense of tedious obligation-induced dread. Here’s why.</p>

                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/blog-avatar-lindz.jpg" alt="">
                                </div>

                                <h5>By Lindsay Trevors</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>

                <li class="post-5" {{action "changeImage" on="mouseEnter"}}>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    {{#link-to 'blog-first'}}
                        <div data-nav="transition">
                            <h2 class="for-blog-transition">Thinking About Thinking</h2>
                            <p class="intro-sm">Memory Techniques, Mental Organization, &amp; Better Project Management</p>

                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/trev-test.jpg" alt="">
                                </div>

                                <h5>By Trevor Davson</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>

                <li class="post-6" {{action "changeImage" on="mouseEnter"}}>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    <a href="javascript:void(0)" class="tag"># Sample Tag</a>
                    {{#link-to 'blog-second'}}
                        <div data-nav-2="transition">
                            <h2>UX Critique: StreetPass Mii Plaza</h2>
                            <p class="intro-sm">I get a thrill of excitement when I spot someone playing their 3DS in public, instantly followed by a sense of tedious obligation-induced dread. Here’s why.</p>

                            <div class="meta">
                                <div class="image-wrap circle">
                                    <img src="/assets/images/blog-avatar-lindz.jpg" alt="">
                                </div>

                                <h5>By Lindsay Trevors</h5>
                                <span class="spacer"></span>
                                <h5>Sept 9 2015</h5>
                            </div>
                        </div>
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</section>
</div>
